.taskList{
  margin: 4rem auto 0 auto;
  width: 712px;
}

.counters{
  display: flex;
  justify-content: space-between;
}

.counters strong{
  font-size: .875rem;
  font-weight: 700;
  color: var(--purple);
  display: flex;
  align-items: center;
  gap: .5rem;
}

.counters strong:first-child{
  color: var(--blue);
}

.counters span{
  color: var(--gray-100);
  background: var(--gray-400);
  padding: .2rem .5rem;
  border-radius: 8px;
}

.list{
  margin-top: 1.5rem;
}

.noTasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
}

.noTasks div{
  color: var(--gray-300);
  text-align: center;
}

@media only screen and (max-width: 780px){
  .taskList{
    width: 520px;
  } 
}

@media only screen and (max-width: 520px){
  .taskList{
    margin-top: 3rem;
    width: 80%;
  } 
}